<div class="container">
  <div class="row mt-sm-5">
    <div class="lead"><%= @genre.name %>のグッズを譲る</div>
  </div>

  <div class="row mt-sm-5">
    <%= form_with model: @item, url: items_path, local:true do |f| %>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th>グッズ画像</th>
              <th>キャラクター名</th>
              <th>グッズ説明</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= f.file_field :images, multiple: true %></td>
              <td><%= f.text_field :name %></td>
              <td><%= f.text_area :introduction %></td>
              <td>
                <%= link_to_remove_association "#{icon 'fas', 'trash-alt'}".html_safe , f, class: 'js-image-remove-btn' %>
              </td>
            </tr>
            <%= f.fields_for :post_images, local: true, id: 'js-post_image-field' do |post_image| %>
              <%= render 'post_image_fields', f: post_image %>
              .inks{data: {count: staffs.count}}
              <tr>
                <td>
                  <%= link_to_add_association "入力項目を追加", f, :post_images, { class: 'js-add-post_image-field-btn' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>