<div class="container">
  <div class="row">
    <div class="col-sm-8 text-center mt-sm-5">
      <%= attachment_image_tag @item, :image, format: 'jpeg', size: "200x200" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 text-right mt-sm-1">
      <% if @item.liked_by?(current_user) %>
        <%= link_to item_likes_path(@item), method: :delete do %>
          <i class="far fa-heart" aria-hidden="true" style="color: red;"></i>
          <%= @item.likes.count %>
        <% end %>
      <% else %>
        <%= link_to item_likes_path(@item), method: :post do %>
          <i class="far fa-heart" aria-hidden="true"></i>
          <%= @item.likes.count %>
        <% end %>
      <% end %>
    </div>

    <div class="col-sm-4 mt-sm-1">
      <% if @item.user != current_user %>
        <%= link_to item_reports_path(@item.id), method: :post, data: { confirm: "この商品を通報してもよろしいでしょうか？" } do %>
          <button type="button" class="btn btn-secondary btn-sm">通報する</button>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <%= form_with model: @item, local: true do |f| %>
        <div class="col-sm-8">
          <label>作品・イベント名</label>
        </div>

              <td>作品・イベント名</td>
              <td><%= @item.genre.name %></td>
            </tr>
            <tr>
              <td>キャタクター名</td>
              <td><%= @item.character %></td>
            </tr>
            <tr>
              <td>種類</td>
              <td><%= @item.kind %></td>
            </tr>
            <tr>
              <td>説明</td>
              <td><%= @item.introduction %></td>
            </tr>
            <tr>
              <td colspan="2">
                  <%= f.radio_button :ask_item, 0 %><%= @item.ask_item1 %>
              </td>
            </tr>
            <% if @item.ask_item2.present? %>
              <tr>
                <td colspan="2">
                    <%= f.radio_button :ask_item, 1 %><%= @item.ask_item2 %>
                </td>
              </tr>
            <% end %>
            <% if @item.ask_item3.present? %>
              <tr>
                <td colspan="2">

                    <%= f.radio_button :ask_item, 2 %><%= @item.ask_item3 %>
                </td>
              </tr>
            <% end %>
            <% if @item.ask_item4.present? %>
              <tr>
                <td colspan="2">

                    <%= f.radio_button :ask_item, 3 %><%= @item.ask_item4 %>
                </td>
              </tr>
            <% end %>
            <% if @item.ask_item5.present? %>
              <tr>
                <td colspan="2">

                    <%= f.radio_button :ask_item, 4 %><%= @item.ask_item5 %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

  <div class="row">
    <div class="col">
      <% if @item.user != current_user %>
        <%= link_to "交換を申し込む", exchange_path(@item), class: "btn btn-success", data: { confirm: "交換を申し込みますか？" } %>
      <% else %>
        <%= link_to "編集する", edit_item_path(@item), class: "btn btn-info btn-sm" %>
      <% end %>
    </div>
  </div>
</div>