<div class="container">
  <div class="row">
    <%= render partial: 'layouts/flash' %>
  </div>

  <div class="row">
    <div class="mt-sm-5 text-xs-left">
      <%= @item.user.nickname %>のグッズ
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-9 col-md-4 text-md-center mt-xs-5 mt-sm-5">
      <%= attachment_image_tag @item, :image, format: 'jpeg', size: "250x250" %>
    </div>

    <div class="col">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-2 mt-sm-2 mt-md-5">
          <% if @item.liked_by?(current_user) %>
            <%= link_to item_likes_path(@item), method: :delete do %>
              <i class="far fa-heart" aria-hidden="true" style="color: red;"></i>
              <%= @item.likes.count %>
            <% end %>
          <% else %>
            <%= link_to item_likes_path(@item), method: :post do %>
              <i class="far fa-heart" aria-hidden="true"></i>
              <%= @item.likes.count %>
            <% end %>
          <% end %>
        </div>

        <div class="col-xs-2 col-sm-4 col-md-3 mt-sm-1 mt-md-5">
          <% if @item.user != current_user %>
            <%= link_to item_reports_path(@item.id), method: :post, data: { confirm: "この商品を通報してもよろしいでしょうか？" } do %>
              <button type="button" class="btn btn-secondary btn-sm">通報する</button>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-sm-2">
          <div>
            <%= @item.genre.name %>
          </div>
          <div>
            <%= @item.character %>
          </div>
          <div>
            <%= @item.kind %>
          </div>
          <div>
            <%= @item.introduction %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 mt-md-3">
            <span><求めるグッズ></span><br>
            <div>
              <%= @item.ask_item1 %>
            </div>
            <div>
              <% if @item.ask_item2.present? %>
                <%= @item.ask_item2 %>
              <% end %>
            </div>
            <div>
              <% if @item.ask_item3.present? %>
                <%= @item.ask_item3 %>
              <% end %>
            </div>
            <div>
              <% if @item.ask_item4.present? %>
                <%= @item.ask_item4 %>
              <% end %>
            </div>
            <div>
              <% if @item.ask_item5.present? %>
                <%= @item.ask_item5 %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-md-5 mt-sm-2">
        <% if @item.user != current_user %>
          <%= link_to "交換申し込みページへ", new_exchange_path(item_id: @item.id), class: "btn btn-success" %>
        <% else %>
          <%= link_to "編集する", edit_item_path(current_user), class: "btn btn-info btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>