<div class="container">
  <div class="row">
    <div class="lead mt-sm-5">交換一覧</div>
  </div>

  <div class="row">

      <table class="table">
        <thead class="mt-sm-5">
          <tr>
            <th>日付</th>
            <th colspan="2">譲</th>
            <th colspan="2">求</th>
          </tr>
        </thead>
        <% @exchanges.each do |exchange| %>
        <tbody>
          <tr>
            <td><%= exchange.created_at.strftime('%Y/%m/%d %-H:%-M:%-S') %></td>
            <td>
              <%= link_to admin_user_path(exchange) do %>
                <%= exchange.item_user.name %>
              <% end %>
            </td>
            <td><%= exchange.item.character %></td>
            <td>
              <%= link_to admin_user_path(exchange) do %>
                <%= exchanged.exchanged_user.name %>
              <% end %>
            </td>
            <td><%= exchange.exchanged_item %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>