<div class="container mt-5 main">
  <div class="row">
    <div class="lead mt-sm-5">管理者ログイン</div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group row mt-sm-5">
      <%= f.label :メールアドレス, class: "col-sm-4 col-form-label" %>
      <div class="col-sm-6">
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-controll form-controll-sm" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :パスワード, class: "col-sm-4 col-form-label" %>
      <div class="col-sm-6">
        <%= f.text_field :password, autofocus: true, autocomplete: "current-password", class: "form-controll form-controll-sm" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "ログインする", class: "btn btn-success" %>
    </div>
  <% end %>
</div>