<div class="container">
  <% if @genre.errors.any? %>
    <%= @genre.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="lead mt-sm-5 ml-sm-2">出品</div>
  </div>

  <div class="row mt-sm-5">
    <div class="col-sm-3">
      <h6>登録済作品・イベントに追加</h6>
      <% @genres.each do |genre|%>
        <div class="mt-sm-3">
          <%= link_to genre.name, new_item_path(genre.id), class: "link" %>
        </div>
      <% end %>
      <div class="col">
        <%= link_to "編集", edit_genre_path(current_user), class: "btn-primary" %>
      </div>
    </div>

    <%= form_with model:@genre, url: genres_path, local:true do |f| %>
      <div class="col-sm-9 ml-sm-2">
        <div class="row">
          <%= f.label :作品・イベント名新規追加 %>
        </div>
        <div class="row mt-sm-2">
          <%= f.text_field :name, size: 30 %>
        </div>
        <div class="row mt-sm-2 text-right">
          <%= f.submit "追加", class: "btn btn-success btn-sm" %>
        </div>
      </div>
    <% end %>


  </div>
</div>