<div class="container">
  <div class="row">
    <% if (current_user.exchanged_by? @user) && (@user.exchenged_by? current_user) %>
      <% if @isRoom == true %>
        <p class="exchange-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary">メッセージを送る</a></p>
      <% else %>
        <%= form_with @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit "メッセージを送る", class: "btn btn-primary exchange-show-chat" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>