<div class="container">
  <div class="row mt-sm-5">
    <div class="lead">交換</div>
  </div>

  <div class="row mt-sm-5">
    <div class="col-md-6">
      <div class="col-md-5"><%= @item.user.nickname %></div>
      <div><%= attachment_image_tag @item, :image, format: 'jpeg', size: "200x200" %></div>
      <div>
        <% if @exchange.status == "交換希望" %>
        <% elsif @exchange.status == "非承認" %>
        <% else %>
          <%= @item.user.address %><br>
          <%= @item.user.name %>
        <% end %>
      </div>
      <% if @item.user == current_user %>
        <%= form_with model: @exchange, url: exchange_path(@exchange), local: true do |f| %>
          <div class="col-md-6">
            <%= f.select(:status, f.object.user_status ) %>
            <%= f.submit "更新", class: "btn btn-success btn-sm" %>
          </div>
        <% end %>
      <% else %>
        <%= @exchange.status %>
      <% end %>
    </div>

    <div class="col-md-6">
      <div class="col-md-6">
        <%= @exchange.user.nickname %>
      </div>
      <div class="col-md-6"><%= attachment_image_tag @exchange, :ask_item_image, format: 'jpeg', size: "200x200" %></div>
      <div class="col-md-6">
        <% if @exchange.status == "交換希望" %>
        <% elsif @exchange.status == "非承認" %>
        <% else %>
          <%= @exchange.user.address %>
          <%= @user.address %><br>
          <%= @exchange.user.name %>
          <%= @user.name %>
        <% end %>
      </div>
      <%# binding.irb %>
      <% if @exchange.not_exchange(current_user) %>
      <%= form_with model: @exchange, url: exchange_path(@exchange), local: true do |f| %>
        <div class="col-md-6">
          
          <%= f.select(:status, Exchange.statuses.keys) %>
          <%= f.submit "更新", class: "btn btn-success btn-sm" %>
        </div>
        <% end %>
      <% else %>
        <%= @exchange.status %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% if (current_user.exchanged_by? @exchange.item) && (@exchange.status == "承認") %>
      <% if @isRoom == true %>
        <p class="exchange-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary">メッセージを送る</a></p>
      <% else %>
        <%= form_with model: @room, local: true do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit "メッセージを送る", class: "btn btn-primary exchange-show-chat" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>