<div class="container">
  <div class="row mt-sm-5">
    <div class="lead">交換</div>
  </div>

  <div class="row mt-sm-5">
    <div class="col-xs-8 col-sm-6">
      <div class="col-xs-8 col-sm-5"><%= @item.item_user.nickname %></div>
      <div><%= attachment_image_tag @item, :item_image, format: 'jpeg', size: "200x200" %></div>
      <div>
        <% if @item.item_status == '未交換' %>
        <% elsif @item.item_status == '非承認' %>
        <% else %>
          <%= @item.item_user.address %><br>
          <%= @item.item_user.name %>
        <% end %>
      </div>
      <% if @item.item_user == current_user %>
        <%= form_with model: @item, url: item_path(@item), local: true do |f| %>
          <div class="col-xs-8 col-sm-6 mt-3">
            <%= f.select(:item_status, @item.select_item_status.keys.map {|k| k}) %>
            <%= f.submit "更新", class: "btn btn-success btn-sm" %>
          </div>
        <% end %>
      <% else %>
        <p>交換ステータス：<%= @item.item_status %></p>
      <% end %>
    </div>

    <div class="col-xs-8 col-sm-6">
      <div class="col-xs-8 col-sm-6">
        <%= @item.exchanged_user.nickname %>
      </div>
      <div class="col-xs-8 col-sm-6"><%= attachment_image_tag @item, :exchanged_image, format: 'jpeg', size: "200x200" %></div>
      <div class="col-xs-8 col-sm-6 mt-3">
        <% if @item.item_status == '未交換' %>
        <% elsif @item.item_status == '非承認' %>
        <% else %>
          <%= @item.exchanged_user.address %><br>
          <%= @item.exchanged_user.name %>
        <% end %>
      </div>
      <% if @item.exchanged_user == current_user %>
        <% if @item.item_status == '未交換' %>
          <p><%= @item.item_user.nickname %>さんから承認いただけるまでお待ちください</p>
        <% elsif @item.item_status == '非承認' %>
          <p><%= @item.item_user.nickname %>さんから承認いただけませんでした。引き続きグッズの交換をお楽しみください。</p>
        <% else %>
          <%= form_with model: @item, url: item_path(@item), local: true do |f| %>
            <div class="col-xs-8 col-sm-6">
              <%= f.select(:exchange_status, @item.select_exchanage_status.keys) %>
              <%= f.submit "更新", class: "btn btn-success btn-sm" %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>交換ステータス：<%= @item.exchange_status %></p>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-6 col-md-6 text-align mx-md-auto">
    <% if @item.exchange_status == "交換希望" || @item.exchange_status == '配送準備' || @item.exchange_status == '配送済' || @item.exchange_status == '受取済' || @item.exchange_status == 'グッズ状態ＮＧ' || @item.exchange_status == '交換済' || @item.exchange_status == '交換終了' || @item.exchange_status == '返品'
        if current_user.item_by?(@item) || @item.exchanged_user == current_user %>
          <% if @isRoom == true %>
            <p class="item-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary">メッセージを送る</a></p>
          <% else %>
              <%= form_with model: @room, url: rooms_path, local: true do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, value: @user.id %>
                <% end %>
                <%= f.submit "メッセージを送る", class: "btn btn-primary btn-lg btn-block item-show-chat" %>
              <% end %>
          <% end %>
        <% end %>
    <% end %>
    </div>
  </div>
</div>