<% visitor = notification.visitor %>
<% item = notification.item %>

<div class="user-view clearfix">
  <%= link_to user_path(notification) do %>
    <%= visitor.nickname, class: "circle" %>
  <% end %>
  <%= notification_form(notification) %><span class:"moderate-font"><%= "(#{time_ago_in_words(notification.created_at)} å‰)" %></span>
  <br>
  <% if !@message.nil? %>
    <p class="moderate-font text-center" style="color: #c0c0c0;"><%= @message %></p>
</div>